---
import Error from '../icons/Error.astro';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.jsx';
---

<Layout title="404">
	<div class="fixed bottom-0 left-0 right-0 top-0">
		<Header client:load />
	</div>

	<video id="background-video" autoplay loop muted>
		<source src="/videof1.mp4" type="video/mp4" />
	</video>
	<Error />
</Layout>

<style>
	#background-video {
		height: 100vh;
		width: 100vw;
		object-fit: cover;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -1;
	}
</style>
