---
import Layout from '../layouts/Layout2.astro';
import Header from '../components/Header.jsx';
import PodioConstructores from '../components/PodioConstructores.astro';
import CCampeonato from '../components/Ccampeonato.jsx';
---

<Layout title="Campeonato De Pilotos">
	<Header client:load />
	<main>
		<h1
			class="relative top-3 flex h-14 items-center justify-center text-[1.3rem] tracking-[0.0125rem] text-gray-100 sm:text-[1.875rem]"
		>
			Campeonato Constructores 2024
		</h1>
		<div class="mt-6">
			<div class="flex flex-col md:flex-row w-screen items-center justify-center gap-4">
				<PodioConstructores />
			</div>
			<CCampeonato client:only />
		</div>
	</main>
</Layout>
