---
import Layout from "../layouts/Layout2.astro"
import Driver from "../components/Driver.jsx"
import Header from "../components/Header.jsx"
---

<Layout title="Drivers">
        <Header client:load/>
        <h1 class="flex items-center justify-center relative top-3 h-14 text-gray-100 text-[1.8rem]">Pilotos De F1 2024</h1>
        <div class="mt-6">
                <Driver client:only/>
        </div>
</Layout>