---
import Layout from "../layouts/Layout2.astro"
import Driver from "../components/Driver.jsx"
---

<Layout title="Drives">
    <section class="sm:w-[98%] sm:relative sm:left-[2%]">
        <Driver client:load/>
    </section>
</Layout>