---
import Escuderia from '../components/Escuderia';
import Header from '../components/Header';
import Layout from '../layouts/Layout2.astro';
---

<Layout title="Escuderias">
	<Header client:load />
	<main>
		<Escuderia />
	</main>
</Layout>
