---
import Escuderia from "../components/Escuderia"
import Header from "../components/Header"
import Layout from "../layouts/Layout2.astro"
---

<Layout title="Escuderias">
    <Header client:load/>
    <Escuderia />
    <p>hola</p>
</Layout>

<style is:global>
    
@font-face {
    font-family: 'Open Sans';
    src: url('src/fonts/1f75a4dd429d77b6-s.p.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
.p {
    font-family: 'Open Sans', sans-serif;
}
</style>