---
import Facebook from '../icons/Facebook.astro';
import Instagram from '../icons/Instagram.astro';
import X from '../icons/X.astro';
import Youtube from '../icons/Youtube.astro';
import Linkedin from '../icons/Linkedin.astro';
---

<header class="flex h-[10vh] w-screen items-center justify-center bg-red-500 sm:justify-end">
	<section class="flex gap-7 sm:mr-20">
		<Facebook style="size-11" href="#" />
		<Instagram style="size-11" href="#" />
		<X style="size-11" href="#" />
		<Youtube style="size-11" href="#" />
		<Linkedin style="size-11" href="#" />
	</section>
</header>
