<nav class="h-[12vh] w-screen bg-slate-800">
	<section class="flex h-full items-center justify-around sm:mx-[5.2rem] sm:justify-between">
		<a href="/">
			<img src="/f1logo.png" alt="f1" class="h-28 sm:h-36 md:h-40 lg:h-44" />
		</a>
		<a href="#">
			<p
				class="mb-2 w-auto border-b-2 text-[1.3rem] font-semibold text-white hover:border-[#e1e1e1] active:border-[#e1e1e1] hover:text-[#e1e1e1] active:text-[#e1e1e1] sm:text-[1.4rem] md:text-[1.5rem] lg:text-[1.7rem]"
			>
				Sobre mí
			</p>
		</a>
	</section>
</nav>
